<!--Tabla que imprime los usuarios, que tienen ente nombre   id: number;
  name: string;
  username: string;
  email: string;
  address: Address;
  phone: string;
  website: string;
  company: Company;-->

<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Sitio web</th>
        <th scope="col">Compañia</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.username}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.website}}</td>
        <td>{{user.company.name}}</td>
        <td>
            <button type="button">Edit</button>
            <button type="button">Delete</button>

        </td>
        </tr>
    </tbody>
</table>

